.container {
    display: flex;
    align-items: center;
    justify-content: center;

    .tableContainer {
        margin-top: 120px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 14px;
            button {
                padding: 6px 12px;
                border-radius: 5px;
                background-color: #617A55;
                color: #FFFFFF;
            }
        }

        .search {
            display: flex;
            align-items: center;
            button {
                padding: 6px 12px;
                border-radius: 5px;
                background-color: #146C94;
                color: #FFFFFF;
                &:last-child {
                    margin-left: 6px;
                }
            }
            input {
                border: 1px solid #DBDFEA;
                border-radius: 5px;
                padding: 6px;
                margin-right: 6px;

                &:focus {
                    border-color: #9BA4B5;
                }
            }
        }

        h2 {
            margin-bottom: 8px;
        }

        table {
            background-color: #FFF8D6;
            border-collapse: collapse;

            th {
                padding: 10px 40px;
                border: 1px solid #654E92;
            }

            td {
                padding: 10px 40px;
                border: 1px solid #654E92;
                text-align: center;
                .delete {
                    padding: 6px 12px;
                    border-radius: 5px;
                    background-color: #FF6969;
                    color: #FFFFFF;
                }
                .edit {
                    padding: 6px 12px;
                    border-radius: 5px;
                    background-color: #146C94;
                    color: #FFFFFF;
                }
            }
        }
    }

    .formWrapper {
        padding: 20px;
        width: 600px;

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 6px;
            }

            input {
                margin-bottom: 14px;
                border: 1px solid #DBDFEA;
                border-radius: 5px;
                padding: 10px;

                &:focus {
                    border-color: #9BA4B5;
                }
            }

            button {
                width: fit-content;
                padding: 10px 24px;
                margin-top: 24px;
                margin-left: auto;
                border-radius: 5px;
                background-color: #2A2F4F;
                color: #FFFFFF;
                font-size: 16px;

            }
        }
    }
}